.btn{
    margin: 10px;
}
.card{
    margin: 20px;
}
.card-body{
    text-align: center;
}
.action{
    text-align: center;
    color: 
}
form{
    padding: 20px;
    background-color: burlywood;
    width: 90%;
    border-radius: 10px;
    position: absolute;
    left: 4%;
}
.form-btn{
    margin-left: auto;
    margin-right: auto;
}