<!-- <p>quote works!</p> -->
<!-- <div>
        <h1>  Welcome to Quotes!</h1>
     <div>
       <p>Create your own desired quote</p>
      <div>
        <ul>
          <li *ngFor='let quote of quotes'>
            {{quote.name}}
            <app-quote-detail [goal]='quote'></app-quote-detail>
          </li>
        </ul>
        <p>
                {{quote.description}}
              </p>
      </div>
    <router-outlet></router-outlet>  -->
    <div>
            <h1>My Quotes</h1>
            <hr>
            <ul>
              <li *ngFor='let quote of quotes'>
                {{quote.name}}
              </li>
            </ul>
          </div>