<!-- <p>quote-form works!</p> -->
<h2 class="text-center">Create a new Quote</h2>
<div class="container-fluid">
   <hr>
   <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
       <div class="form-group">
           <label for="author">Author Name</label>
           <input type="text" class="form-control" id="author" [(ngModel)]="newQuote.author" name="author" #author='ngModel'
               required>
           <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
               <p>Enter Author</p>
           </div>
       </div>
       <div class="form-group">
           <label for="quote">Quote</label>
           <textarea class="form-control" id="quote" rows="4" [(ngModel)]="newQuote.quote" name="quote" #quote="ngModel"
               required></textarea>
           <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger">
               <p>Write a quote</p>
           </div>
       </div>
       <div class="form-group">
           <label for="person">Submitted by</label>
           <input type="text" class="form-control" id="person" [(ngModel)]="newQuote.person" name="person" #person='ngModel'
               required>
           <div [hidden]="person.valid || person.pristine" class="alert alert-danger">
               <p>Write person who Submitted the quote</p>
           </div>
       </div>
       <div class="form-group">
           <label for="date">Submitted Date</label>
           <input type="date" class="form-control" id="date" [(ngModel)]="newQuote.completeDate" name="completeDate" #completeDate='ngModel'
               required>
           <div [hidden]="completeDate.valid || completeDate.pristine" class="alert alert-danger">
               <p>Select submitted date</p>
           </div>
       </div>
       <button type="submit" class="btn btn-success" style="background-color: lightblue" >Add Quote</button>
   </form>
</div>
<!-- <div class="container">
   <h2></h2>
   <hr>
   <div class="row">
       <div class="col-md-6">
           <app-quote-form (addQuote)="addNewQuote($event)">
           </app-quote-form>
       </div>
       <div class="col-md-6">
           <div *ngFor='let quote of quotes; let i = index'>
               <div>
                   <li appStrikethrough *ngIf="highestUpvote()===quote.upvotes && quote.upvotes>0">{{quote.quote}}</li>
                   <li *ngIf="highestUpvote()!==quote.upvotes || quote.upvotes===0">{{quote.quote}}</li>
                   <p id="{{i}}">Posted on {{quote.completeDate|date|uppercase}}</p>
                   <button class="btn btn-outline-primary" (click)="upvote(i)" style="margin-right: 1%">Upvote</button>
                   <button class="btn btn-outline-info" (click)="downvote(i)" style="margin-right: 1%">Downvote</button>
                   <button (click)='toggleDetails(i)' class="btn btn-outline-primary">Show Details</button><br><br>
                   <div *ngIf='quote.showAuthor'>
                       <app-quote-detail [quote]='quote' (isComplete)='deleteQuote($event, i)'></app-quote-detail>
                   </div>
               </div>
           </div>
       </div>
   </div>
</div> -->